@use 'variables';
@use 'hero';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

body {
    background-color: variables.$backgroundColor;
    font-family: Avenir, sans-serif;
}

@mixin title($fontsize:28px) {
    @include text($fontsize);
    color: variables.$secondarycolorText;
}

@mixin text($fontsize:16px) {
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color: variables.$principalcolorText;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    text-decoration: underline;
}



.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}